
#myModal.modal.fade(role='dialog')
  .modal-dialog
    .loginBox
      img.user(src='../images/login.png')
      h2 Inicie Sesi칩n
      form
        p Correo Electr칩nico
        input(type='text', email='', placeholder='Correo Electronico')
        p Contrase침a
        input(type='Password', name='', placeholder='*********')
        input(type='submit', name='', value='Iniciar Sesi칩n')
        a(href='#') Forget Password
    
  script.
    $(document).ready(function(){
    $("#myBtn").click(function(){
    $("#myModal").modal();
      });
      });