extends ../templates/default
link(rel='stylesheet', href='/stylesheets/signup.css')

block content

  body
    .loginBox
      img.user(src='../images/login.png')
      h2 Log In Here
      form
        p Nombre
        input(type='text', name='', placeholder='Enter Email')
        p Correo
        input(type='text', name='', placeholder='Enter Email')
        p Contraseñ
        input(type='Password', name='', placeholder='••••••')
        input(type='submit', name='', value='Sign In')
        a(href='#') Forget Password